:root{
    --blanco: #ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
}
/*Estas dos lineas optimizan el uso de los rem (la de arriba y la e abajo)*/
body{
    font-size: 16px; /*1rem = 10px*/
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-background{
    background-color: var(--secundario);
}

.navegacion-principal{
   display: flex;
   flex-direction: column;
   align-items: center; /*Alinea el contenido verticalmente*/
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between; /*Alinea el contenido horizontalmente*/
    }
}

/*
Tamaños estandar 
-- 480px ==> telefonos
-- 768px ==> tablets
-- 1140px ==> laptos
*/

/*
<-------- Los 2 ejes de flexbox --------->
Solo puedes colocar los elementos en una dirección
-- fila (row), 0
-- columna (column).
*/

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
   padding: 1rem; /*Del elemento hacía adentro*/
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
/*
-Display: block: ==> Siognifa que todo el contenido se va a organizar uno encima de otro

-Display: Inline: ==> Significa que el contenido se pocisionará a la derecha una vez haya tomado todo el espacio que requiere.*/